a{
    text-decoration: none;
    color: white
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px
}
























#conn-ig{

}
#conn-ig:hover{
    color:black
}
#conn-fb{

}
#conn-fb:hover{
    color:cornflowerblue
}
#conn-tw{

}
#conn-tw:hover{
    color:lightblue
}
#conn-ln{

}
#conn-ln:hover{
    color: darkblue
}
#conn-yt{

}
#conn-yt:hover{
    color:red
}
#conn-bg{

}
#conn-bg:hover{
    color:burlywood
}
