a{
    text-decoration: none;
    color: white
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px
}


.navbar-dark .navbar-nav .active>.nav-link{
    color:rgba(255,255,255,0.5)
}

.card{
    border-radius: 0px
}
.jumbotron{
    margin-bottom: 0px;
}


#about-me-content{
    line-height: 12px;
}



.my-nav-bar-background{
    background-color: transparent;
}


#skills-container-div{
    margin-right: 0px;
    margin-left: 0px
}

#top-nav-bar-ul{
    border-bottom: 2px solid rgb(197, 174, 174);
}
#top-nav-bar-ul li:hover{
    
}
#top-nav-bar-ul li:hover a{
    color:white
}


.typed-cursor{
    opacity: 1;
    animation: blink 0.7s infinite;
 }
 @keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
#typed{

}




.skills-div{
    transition: 0.9s;
    transition-timing-function: ease-in
}

.skills-div-2{
    font-size: large;
    line-height: 1.9rem;
}


.my-system-p{
    font-size: x-large;
    line-height:3.6rem;
}

.my-system-p b{
    
}

.my-system-h2{
    font-size: 34pt;
}



#conn-ig{

}
#conn-ig:hover{
    color:black
}
#conn-fb{

}
#conn-fb:hover{
    color:cornflowerblue
}
#conn-tw{

}
#conn-tw:hover{
    color:lightblue
}
#conn-ln{

}
#conn-ln:hover{
    color: darkblue
}
#conn-yt{

}
#conn-yt:hover{
    color:red
}
#conn-bg{

}
#conn-bg:hover{
    color:burlywood
}


#meri-image{
    height:100vh
}

#typing-description{
}

#flaticon-boy{
    height: 200px;
    width: 200px;
    border: none;
    border-radius: 50%;
    background-color: #E8E8E8;
}

#basic-p{
    font-size: 14pt;
}

#basic-innerdiv{
    line-height: 2rem;
}



/*css pre-loader*/
.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
  
  .text-pre{
    position: fixed;
    font-size:1.6em;
    top: 60%;
  }

  .text-pre p{
      text-align: center;
  }

  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff6347;
    z-index: 999999;
    }